*{
    margin: 0;
    padding: 0;
}


h1{
    height: 5rem;
    text-align: center;
    align-content: center;
    background-color: black;
    color: white;
    line-height: 5rem;
}

body{
    background-color: bisque;
    
}

.choice{
    height: 165px;
    width: 165px; 
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}


img{
    height: 150px;
    width: 150px;
    display: flex;
    object-fit: cover;
    border-radius: 50%;
}


.choices{
    margin: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6rem;
}


.choice:hover{
    cursor: pointer;
    background-color:black;
}

.score{
    text-align: center;
}


.score-board{
    display: flex;
    justify-content: center;
    gap: 14rem;
    font-size: 2rem;
}

#user-score,
#comp-score{
    font-size: 4rem;
}

.msg-container{
    margin-top: 3.5rem;
    text-align: center;

}

#msg{
    background-color: black;
    color: white;
    font-size: 2rem;
    display: inline;
    border-radius: 1rem;
    padding: 1rem;
}
.result{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
 
#image{
    height: 165px;
    width: 165px; 
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7rem;

}
#user-choice-img{
    height: 150px;
    width: 150px;
    display: flex;
    object-fit: cover;
    border-radius: 50%;
    
}

#comp-choice-img{
    height: 150px;
    width: 150px;
    display: flex;
    object-fit: cover;
    border-radius: 50%;
    
}